<link rel="stylesheet" href="./mSection.styl" />

<preview-article class="mSection mSection__{data-class}">
    <h1 class="mSection__header mSection__header_{data-class}">
        {data-header}<span class="red-dot">.</span>
        </br>
        {data-header1}
    </h1>
    <p class="mSection__mini-header">
        {data-mini-header}
    </p>
    <p class="mSection__description mSection__description_{data-class}">
        {data-pharagraph}
        </br>
        {data-pharagraph1}
    </p>
    <button role="button" class="mSection__more mSection__more_{data-hidden}">
        <a href="#" class="mSection__link">
            more <img src="../icon/Arrow.svg" title="more" alt="more" class="mSection__icon">
        </a>
    </button>
</preview-article>