.about-dev{
    width 300px
    height 128px
    display: flex
    justify-content: center
    align-items: center
    &__avatar{
        height 120px
        min-width 120px
        border-radius: 50%
        margin-right:  20px
        overflow hidden
        display inline-flex
        align-items: center
        justify-content: center
    }
    &__image{
        height 100%
        width 100%
            
    }
    &__description{
        height 90px
        display flex
        flex-direction: column
        align-items flex-start
        justify-content flex-start    
    }
    &__header{
        height 34px
        color: var(--header-color)
        font-family: var(--header-font)
        font-size: 22px
        line-height 22px
        text-transform: uppercase
        font-weight 900
    }
    &__profession{
        height 28px
        color: var(--attension-color)
        font-family: var(--pharagraph-font) 
        font-size: 14px
        line-height 14px
        font-weight 600
        margin-top 5px
        margin-bottom 10px
    }
    &__hobby{
        height 44px
        color: var(--pharagraph-color)
        font-family: var(--pharagraph-font)
        font-size: 14px
        line-height 22px    
    }
}