<link rel="stylesheet" href="./about-section.styl" />

<about-section class="about-dev">
    <div class="about-dev__avatar" role="img">
        <img src="{data-ava}" title="avatar" alt="avatar" class="about-dev__image">
    </div>
    <div class="about-dev__description">
        <h3 class="about-dev__header">
            {data-header}
        </h3>
        <p class="about-dev__profession">
            {data-professiion}
        </p>
        <p class="about-dev__hobby">
            {data-hobby}
        </p>
    </div>
</about-section>